name: metrics
on:
  schedule:
    - cron: "20 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: assets/metrics.svg
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage
          plugin_followup: yes
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
